.beer-list--container
  display grid
  grid-template-columns:  repeat(auto-fit, 150px)
  grid-template-rows:  repeat(auto-fit, 150px)
  justify-content center
  align-items center
  background white
  border 2px solid black
  height 400px
  width 80vw