
.beer-list--container
  display grid
  grid-template-columns repeat(auto-fit, 300px)
  grid-template-rows repeat(auto-fit, 320px)
  grid-gap 20px
  padding 20px auto
  justify-content center
  align-items center
  height 600px
  width 100vw