@import './components/Nav/Nav.styl'
@import './components/Main/Main.styl'
@import './components/Main/Search/Search.styl'
@import './components/Main/BeerList/BeerList.styl'
@import './components/Main/BeerList/BeerCard/BeerCard.styl'

/* Variables */
black = #111
white = #FCFCFC
gray = #AAA
/* ------------------ */
*
  box-sizing border-box

*, *::before, *::after
  box-sizing inherit

:root
  font-size 20px

body
  height 100vh
  width 100vw
  color black
  background white

.app
  height 100vh
