@import '../../variables.styl'

nav
  width 100vw
  height 70px
  display flex
  align-items center
  justify-content space-between
  align-self flex-start
  color white
  background darkgray

nav h1
  padding 10px
  font-size 1.5rem
  font-family 'Pacifico', cursive

nav div
  display flex

nav div p
  text-transform: uppercase
  border-right 1px solid gray
  padding 10px
  font-size 1rem